<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tuto Flask Mysql connection</title>
</head>
<body bgcolor="cyan">
<form method="POST" action="">
    <center>
        <H1>Enter your details</H1>
        Username <input type = "text" name = "username" /><br>
        email <input type = "text" name = "email" /><br>
        age <input type = "number" name = "age" /><br>
        price <input type = "number" name = "price" /><br>
        <input type = "submit">
    </center>
</form>

</body>
</html>